* {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline:none;
}

body {
  box-sizing: border-box;
  width: 200px;
  padding: 6%;

}

#title{
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  margin-bottom: 5%;
}

.active{
  color: seagreen;
}

.inactive{
  color: #777;
}

#parameter{
  margin-top: 10px;
  margin-bottom: 5px;
}

button {
  width: 100%;
  margin-bottom: 5%;
  padding: 4px;
  text-align: center;
  font-size: 0.9em;
  color: #333;
  cursor: pointer;
  border-radius: 2px;
}

.off {
  border: 2px solid seagreen;
  color: #333;
}
.off:hover {
  background-color: seagreen;
  color: white;
}

.on {
  border: 2px solid dimgrey;
  color: #333;
}
.on:hover {
  background-color: dimgrey;
  color: white;
}

.parameter{
  display: flex;
  position: relative;
}

label{
  font-size: 0.9em;
  color: #333;
}

input[type=range]{
  width: 86%
}

#delaylabel{
  margin-bottom: 12px;
}

#value{
  margin-left: 6px;
  width: 15px;
}